@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    cursor: none;
}
a {
    cursor: none;
}

html {
  cursor: none;
}

iframe {
  pointer-events: none;
}

.custom-cursor {
    position: fixed;
    top: -12px;
    left: -12px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    pointer-events: none;
    z-index: 9999;
    mix-blend-mode: difference;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
}

.default-cursor {
  cursor: auto
  
}

.background {
    @apply bg-neutral-900;
  }
  
  .content {
    @apply max-w-3xl;
    @apply mx-auto py-20;
    @apply bg-neutral-900;
  }
  
  .header {
    @apply text-left;
    @apply text-7xl;
    @apply font-extrabold;
    @apply text-white;
  }

  .sub-header {
    @apply text-4xl;
    @apply font-bold;
    @apply text-white;
  }
  
  .description {
    @apply ml-1;
    @apply mt-3;
    @apply text-base;
    @apply text-white;
    @apply leading-normal;
  }
  .custom-list li {
    @apply ml-5;
    @apply text-base;
    @apply text-white;
    @apply leading-normal;
  }

.special-list-item {
  @apply text-indigo-300;
  @apply hover:underline;
}

.special-list {
  @apply list-disc;
  @apply ml-4;
}

.button {
  @apply inline-block;
  @apply py-2;
  @apply px-4;
  @apply bg-neutral-700;
  @apply text-white;
  @apply rounded-md;
  @apply no-underline;
  @apply transition;
  @apply duration-300;
  @apply ease-in-out;
}

.button:hover {
  @apply bg-neutral-800;
}